a {
    color: $copper;

    &:hover,
    &:focus {
        color: darken($copper, 10%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
    margin-bottom: 0;
    color: $copper;
}

h1 {
    margin-top: 0;
}

code,
kbd {
    color: black;
    background-color: $grey;
    padding: 2px;
}

hr {
    display: block;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid $white;
    width: 100%;
}

nav ul {
    padding-left: 0;
}

pre {
    code {
        display: block;
        border-radius: 5px;
    }
}

ul {
    &.task-list {
        list-style: none;
        margin-left: -24px;
    }
}

p + ul {
    margin-top: -18px;
}
