$blue: #4054b2;
$copper: #e18964;
$yellow: yellow;
$white: white;
$brown: #302014;
$black: #262626;
$grey: #f6f6f6;

$brand-danger: red;
$brand-success: green;
$brand-info: orange;

$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$navigation-break-point: $screen-sm;
