.note-container {

    ul.note-categories {
        padding-left: 0;

        li {
            display: inline;

            &:not(:last-child)::after {
                content: ', ';
            }
        }
    }

    ul {
        padding-left: 25px;

        ul {
            padding-left: 18px;
        }
    }

}
